/* * {
    box-sizing: border-box;
}
body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("/Basic_Portfolio/Assets/images/interlaced.png");
    line-height: 28px;
}

.contentArea {
    width: 960px;
    margin: 0 auto;
    background-color: white;
}
header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    height: 100px;
    width: 100%;
    display: flex;
    /*align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: left;
    width: 200px;
}

h1 {
    background-color: #4aaaa5;
    width: 200px;
    margin-top: 60px;
    margin-bottom: 5px;
    float: left;
    color: white;
}

h2, h3 {
    color: #4aaaa5;
}

.navbar {
    list-style-type: none;
    display: flex;
    margin-right: 0px;
    float: right;
}

.navList {
    width: 100px;
    margin-top: 60px;
}

p {
    color: #777777;
}

footer {
    background-color: #666666;
}

#koganPic {
    width: 200px;
    height: 200px;
    float: left;
}

label {
    float: left;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }

section {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.projects {
    position: relative;
}

.projectPic {
    height: 150px;
    width: 150px;
   
}

.textblock {
    position: absolute;
    background-color: #4aaaa5;
    text-align: center;
}

a {
    color: #777777;
} */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("/Basic_Portfolio/Assets/images/interlaced.png");
    line-height: 28px;
}

.contentArea {
    width: 960px;
    margin: 0 auto;
    background-color: white;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    flex-direction: row;
    margin-bottom: 20px;
    height: 100px;
}

.headerDiv {
    width: 960px;
    margin: 0 auto;
}

h1 {
    float: left;
    margin-top: 52px;
    /* margin-left: 10px; */
    padding: 10px;
    background-color: #4aaaa5;
    color: white;
}

.navbar {
    float: right;
    margin-top : 60px;
    list-style-type: none;
    display: flex;
}

.navList {
    width: 100px;
    border-right: 1px solid #cccccc;
    padding-left: 25px
}

/* Why isn't this working?*/
.navList li:last-child::after {
    border-right: none;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: left;
    width: 200px;
}

h2, h3 {
    color: #4aaaa5;
}

.innerContent {
    padding: 20px;
    margin: 20px;
}