.projectPic {
    height: 150px;
    width: 150px;
   
}

.textblock {
    position: absolute;
    background-color: #4aaaa5;
    text-align: center;
}

a {
    color: #777777;
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Aerial','Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/interlaced.png");
}

.contentArea {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 20px;
    /* overflow: auto; */
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    flex-direction: row;
    margin-bottom: 20px;
    height: 100px;
}

.headerDiv {
    width: 960px;
    margin: 0 auto;
}

h1 {
    float: left;
    margin-top: 37px;
    /* margin-left: 10px; */
    padding: 10px;
    background-color: #4aaaa5;
    color: white;
}

.navbar {
    float: right;
    margin-top : 60px;
    list-style-type: none;
    display: flex;
}

.navList {
    width: 100px;
    border-right: 1px solid #cccccc;
    padding-left: 25px
}

/* Why isn't this working?*/ /* NEVER MIND I GOT IT*/
.navbar li:last-child {
    border-right: none;
}

h1, h2, h3 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    text-align: left;
    width: 200px;
}

h2, h3 {
    color: #4aaaa5;
}

.innerContent {
    padding: 20px;
    margin: 20px;
}

#koganPic {
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 10px;
}

p {
    color: #777777;
    line-height: 28px;
}

label {
    float: left;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }

.projectPic {
    height: 150px;
    width: 150px;
    padding: 40px;   
}

#project1 {
    float: left;
}

#project2 {
    float: left;
}

#porfolio2::after {
    clear: both;
}

#project3 {
    float: left;
}

#project4 {
    float: left;
}

#project4::after {
    clear: both;
}

#project5 {
    float: left;
}

.projects {
    position: relative; 
}

.textBlock {
    position: absolute;
    bottom: 50px;
    right: 40px;
    background-color: #4aaaa5;
    color: black;
    width: 150px;
    padding: 0;
    margin-left: 30px;
    font-weight: 200;
}

footer {
    background-color: #777777;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    border-top: 8px solid #4aaaa5;
    color: White;
}

h6 {
    justify-content: center;
    margin-left: 45%;
}