body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #ffffff;
    border: #dddddd;
    max-width: 960px;
    text-align: center;
}
header {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1, h2, h3 {
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    text-align: left;
}

.navbar {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    align-content: space-between;
}

p {
    color: #777777;
    overflow: auto;
}

footer {
    background-color: #666666;
}

.container {
    max-width: 70%;
    text-align: center;
}